body
{
	margin:auto 0;
}

h1,h2,h3,h4,h5,h6,p ,ol, a , ul ,li
{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}

.navitem1 .nav-item a:hover
{
    color: red !important;
}

.background1
{
    background-image: url(../images/bgimg7.jpg);
    width: 100%;
    height: 760px;
    background-position: center;
    background-size:cover;
}

.background2
{
    background-image: url(../images/bgimg8.jpg);
    width: 100%;
    height: 760px;
    background-position: center;
    background-size:cover ;
}

.background6
{
    background-image: url(../images/bgimg9.jpg);
    width: 100%;
    height: 760px;
    background-position: center;
    background-size:cover ;
}

.text-on-bgimg h1
{
    margin-top: 300px;
    font-size: 60px;
}

.text-on-bgimg h2
{
    font-size: 60px;
}

.text-0n-bg
{
    margin-top: 125px;
}

.text-focus1 h1
{
    font-size: 50px;
}

.border1
{
    border-radius: 50%;
    border: 11px solid;
    width: 150px;
    height: 150px;
    color: #c2c2c2 !important;
}
.border1 img
{
    box-sizing: border-box;
    position: relative;
    margin-top: 30px;
    margin-left: 28px;
}

.focus_text
{
    font-size: 16px;
}

.bordercolor1:hover
{
    color: red !important;   
}

.bordercolor2:hover
{
    color: rgb(146, 238, 8) !important;   
}

.bordercolor3:hover
{
    color: rgb(91, 91, 243) !important;   
}

.bordercolor4:hover
{
    color: rgb(219, 219, 61) !important;   
}

.Focus_line
{
    height: 8px;
    width: 90px;
    border-bottom: 2px solid rgb(179, 46, 46);
}

.focus_line_2
{
    height: 8px;
    width: 120px;
    border-bottom: 2px solid rgb(23, 141, 12);
}

.Focus_line_3
{
    height: 8px;
    width: 150px;
    border-bottom: 2px solid rgb(2, 121, 218);
}

.Focus_line_4
{
    height: 8px;
    width: 80px;
    border-bottom: 2px solid rgb(71, 206, 29);
}


/* 
.underline1
{
    width: 70px;
    border-width: 3px;
    border-color: rgb(199, 0, 0);
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}

.underline2
{
    width: 90px;
    border-width: 3px;
    border-color:rgb(151, 224, 42);
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}

.underline3
{
    width: 90px;
    border-width: 3px;
    border-color:rgb(45, 72, 228);
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}

.underline4
{
    width: 90px;
    border-width: 3px;
    border-color:rgb(247, 243, 34);
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
} */

.boreder2
{
    border: grey 3px solid;
    border-left: hidden;
    border-right: hidden;
}

.focus_text_1
{
    font-size: 14px;
}

.background3
{
    background-image: url(../images/bgimg7.jpg);
    width: 100%;
    height: 360px;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
}

.background4
{
    background-image: url(../images/bgimg8.jpg);
    width: 100%;
    height: 360px;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
}

.background5
{
    background-image: url(../images/bgimg9.jpg);
    width: 100%;
    height: 360px;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
}

.text_1
{
    font-size: 32px;
    
}

.overlay_2
{
    position: absolute;
	top: 10%;
	bottom: 10%;
	left: 8%;
	right: 10%;
	width: 85%;
	height: relative;
	opacity: 0;
	transition: .5s ease;
	background-color: #000000;
}

.overlay_2:hover
{
    opacity: 0.8;
}

.middle
{
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(0,0);
    color: rgb(255, 255, 255);
}

.overlay_2:hover .middle
{
    opacity: 1;
    transform: translate(-50% , -60%);
    transition: 0.3s ease-in-out;
}

.border-btm
{
    height: 8px;
    border-bottom: 2px solid red;
}

.About_text_1
{
    font-size: 55px;
}

.boreder2
{
    border: grey 3px solid;
    border-left: hidden;
    border-right: hidden;
}

.Client_text_1
{
    font-size: 16px;
}

.client_img img
{
    width: 130px;
    height: 40px;
}

.text_under_icon
{
    font-size: 24px;
}

.underline5
{
    width: 60px;
    border-width: 3px;
    border-color: rgb(173, 32, 32);
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}
.underline6
{
    width: 60px;
    border-width: 3px;
    border-color: rgb(50, 131, 34);
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}
.underline7
{
    width: 60px;
    border-width: 3px;
    border-color: rgb(0, 140, 255);
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}
.underline8
{
    width: 60px;
    border-width: 3px;
    border-color: rgb(250, 246, 37);
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}

.text_team h1
{
    font-size: 50px;
}

.background7
{
    background-image: url(../images/bgimg7.jpg);
    width: 100%;
    height: 770px;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
}

.background8
{
    background-image: url(../images/bgimg8.jpg);
    width: 100%;
    height: 770px;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
}

.background9
{
    background-image: url(../images/bgimg9.jpg);
    width: 100%;
    height: 770px;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
}

.feature_text
{
    font-size: 50px;
}

.bg_product
{
    background-image: url(../images/bg_product.png);
    width: 100%;
    height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product_img_1 img
{
    width: 270px;
    height: 230px;
}

.product_img_1 img:hover
{
    transform: scale(1,1);
    opacity: 0.9;
    transition: 1s;
}

.input_size
{
    width: 400px;
}


.background10
{
    background-image: url(../images/bgimg7.jpg);
    width: 100%;
    height: 300px;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
}

.background11
{
    background-image: url(../images/bgimg8.jpg);
    width: 100%;
    height: 300px;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
}

.background12
{
    background-image: url(../images/bgimg9.jpg);
    width: 100%;
    height: 300px;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
}

.container_color
{
    background-color: #8a2020;
}

.btn_1
{
    float: right;
}


.background13
{
    background-image: url(../images/bgimg7.jpg);
    width: 100%;
    height: 680px;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
}

.background14
{
    background-image: url(../images/bgimg8.jpg);
    width: 100%;
    height: 680px;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
}

.background15
{
    background-image: url(../images/bgimg9.jpg);
    width: 100%;
    height: 680px;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
}

.footer_box
{
    background-color: #000000;
}

.footer_icons i:hover
{
    color: red;
}

.team_line_1
{
    width: 110px;
    border-width: 3px;
    border-color: rgb(173, 32, 32);
    margin-left: 15px;
    float: left;
    margin-top: 8px;
}

.team_line_2
{
    width: 135px;
    border-width: 3px;
    border-color: rgb(92, 194, 8);
    margin-bottom: 10px;
    margin-left: 15px;
    float: left;
    margin-top: 5px;
}

.team_line_3
{
    width: 100px;
    border-width: 3px;
    border-color: rgb(58, 154, 243);
    margin-bottom: 10px;
    margin-left: 15px;
    float: left;
    margin-top: 5px;
}

.team_line_4
{
    width: 130px;
    border-width: 3px;
    border-color: rgb(252, 235, 6);
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
    margin-top: 5px;
}

.team_text_1
{
    font-size: small;
    margin-top: 0px;
}


.team_line_5
{
    width: 150px;
    border-width: 3px;
    border-color: rgb(87, 75, 255);
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
    margin-top: 5px;
}

  
.overlay_product
{
    position: absolute;
	bottom: 50;
	left: 0;
	right: 0;
	width: 100%;
	height: 750px;
	opacity: 0.9;
	transition: .5s ease;
	background-color: #386d96;
}

.overlay_contact
{
    position: absolute;
    bottom: 1;
	left: 0;
	right: 0;
	width: 100%;
	height: 680px;
	opacity: 0.5;
	transition: .5s ease;
    background-color: #000000;
}

.contact_text
{
    z-index: 999 !important;
}

.form_input_1:focus
{
    border: transparent !important;
    box-shadow: none !important;
}

.carosuel_slider_img
{
    padding: 0px !important;
    border: opx !important;
}

.font1
{
    font-size: 20px;
    font-weight: bold;
}

.font2
{
    font-size: 15px;

}
.font3
{
    font-size: 18px;
}

.testimonial_bg_color
{
    background-color: rgb(126, 126, 13);
}

.team_1_line
{
    width: 110px;
}

.team_2_line
{
    width: 85px;
}

.team_4_line
{
    width: 120px;
}

.margin-tem
{
    margin-left: 33px;
}

.team_3_line
{
    width: 120px;
}

.circle_1
{
  
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 8px solid;
}

.about_list
{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.list_item_1
{
    float: left;
    margin-right: 15px;
}